html, body{
  padding: 0;
  margin: 0;
  background-color: #EEEEEE;
  width: 100%;
  font-family: Lato, "Lucida Grande", Tahoma, Sans-Serif;
  width: 100%;
  height:100%;
  background-repeat: no-repeat;
  background-color: #99B628;
}
canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -300px;
  margin-left: -300px;
  width: 600px;
}
#menu, #opt , .opt{
  position: absolute;
  top: 10px;
  left: 10px;
  margin: 0;
  padding: 0;
}
#opt, .opt {
  right: 10px;
  left: auto;
  text-align: right;
}
#menu a, #opt a, #opt button, .opt a, .opt button{
  display: inline-block;
  text-decoration: none;
  padding: 5px 10px;
  color: #666666;
  margin-top: 10px;
  margin-right: 10px;
  border: 1px solid #666666;
  background-color: #FFFFFF;
  border-radius: 4px;
}
#menu a:hover, #menu a.selected, #opt a:hover, #opt a.selected, #opt button:hover, #opt button.selected, .opt a:hover, .opt a.selected, .opt button:hover, .opt button.selected{
  background-color: #EFEFEF;
}
#menu a.dark, #opt a.dark, #opt button.dark, .opt a.dark, .opt button.dark{
  background-color: #333333;
  color: #EEEEEE;
}
#menu a.dark:hover, #opt a.dark:hover, #opt button.dark:hover, .opt a.dark:hover, .opt button.dark:hover{
  background-color: #000000;
}
#opt input[type=number], .opt input[type=number]{
  padding: 5px 10px;
  max-width: 50px;
  border-radius: 4px;
  border: 1px solid #666666;
}
#opt a, #opt button, .opt a, .opt button {
  margin-right: 0;
}
.canvas-border {
  border: 1px solid #333333;
}
input.points {
  background-color: transparent;
  color: #333333;
  border: 1px solid transparent !important;
  font-size: 1em;
}
#speed{
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 10px;
}
#boombsnumber{
  position: absolute;
  top: 50px;
  right: 20px;
}